<div class="wrapper">
  <div class="home-banner-1">
    <div class= "background_banner">
      <h2><strong>Welcome to Matech</strong></h2>
      <%= link_to "Enter >>", items_path, class: "home-button"%>
    </div>
  </div>
    <div class="container" style="padding-bottom: 50px">
      <ul>
        <div id="cards-home">
          <div class="text-center">
            <h3 style="padding-bottom: 60px">THE ULTIMATE ARCHITECT TOOL</h3>
            <div class="row" style=" width:50%, padding-top: 30px, padding-bottom: 2px">
              <div class="col-sm-3 col-xs-6">
                <%= image_tag 'MAT2.svg', height: 55, width: 55, class: "grey"  %>
                <h4>CURATE IDEAS</h4>
                  <p style="padding-top: 10px">A smart way to store and retrieve ideas</p>
              </div>
              <div class="col-sm-3 col-xs-6">
                <%= image_tag 'MAT4.svg', height: 55, width: 55, class: "grey"  %>
                <h4>SHARE PROJECTS</h4>
                  <p style="padding-top: 10px">Manage access to colleagues in one click</p>
              </div>
              <div class="col-sm-3 col-xs-6">
                <%= image_tag 'MAT5.svg', height: 55, width: 55, class: "grey"  %>
                <h4>COMPARE ITEMS</h4>
                  <p style="padding-top: 10px">Build a perfect overview of articles</p>
              </div>
              <div class="col-sm-3 col-xs-6">
                <%= image_tag 'MAT3.svg', height: 55, width: 55, class: "grey"  %>
                <h4>CUSTOM TAGS</h4><p style="padding-top: 10px">Assign custom tags to a selected item</p>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
  <div class="home-banner-2">
    <div class= "background_banner_2">
      <p><strong>90 days free-trial </strong></p>
      <%= link_to "SIGN-UP >>", items_path, class: "home-button-2"%>
    </div>
  </div>
</div>
