<div class="wrapper">
  <div class="home-banner">
    <h2><strong>BIENVENUE SUR MATECH</strong></h2>
    <%= link_to "Enter >>", items_path, class: "new-button"%>
  </div>
    <div class="container" style="padding-bottom: 50px">
      <ul>
        <div id="cards-home">
          <div class="text-center">
            <h3 style="padding-bottom: 60px">DES CONSEILS SUR-MESURE</h3>
            <div class="row" style=" width:50%, padding-top: 30px, padding-bottom: 30px">
              <div class="col-sm-3 col-xs-6">
                <%= image_tag 'Artboard 10.svg', height: 80, width: 80, class: "grey"  %>
                <h4 style="padding-top: 10px">Un suivi adapté à chaque profil</h4>
                <p style="padding-top: 15px"><em>Un bilan personnel est réalisé avec l'étudiant pour définir une feuille de route précise</em></p>
              </div>
              <div class="col-sm-3 col-xs-6">
                <%= image_tag 'Artboard 9.svg', height: 80, width: 80, class: "grey"  %>
                <h4 style="padding-top: 10px">Des conseillers dimplômés d'Etat    </h4><p style="padding-top: 15px"><em>Des conseillers diplomés d'Etat qui viennent du secteur privé comme du secteur public</em></p>
              </div>
              <div class="col-sm-3 col-xs-6">
                <%= image_tag 'Artboard 15.svg', height: 80, width: 80, class: "grey"  %>
                <h4 style="padding-top: 10px">Un parcours 100% digitalisé</h4><p style="padding-top: 15px"><em>Un suivi multi-supports, facile d'utilisation et accessible à chaque instant</em></p>
              </div>
              <div class="col-sm-3 col-xs-6">
                <%= image_tag 'Artboard 11.svg', height: 80, width: 80, class: "grey"  %>
                <h4 style="padding-top: 10px"><em>Une couverture sur tout le territoire</h4><p style="padding-top: 15px">Un service souhaité par les ministères de l'Education Nationale et de l'Enseignement Supérieur</em></p>
              </div>
            </div>
          </div>
        </div>
      </ul>

    </div>
  </div>
</div>
