<h1>this is the profile page</h1>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-3">
      <h2> <%= current_user.first_name %> <%= current_user.last_name %> </h2>
      <% if current_user.avatar.nil? %>
        <%= image_tag "avatar2.jpg", id: "avatar", style: "width: 100%;" %>
      <% else %>
        <%= image_tag @user.avatar, id: "avatar", style:"width: 100%; "%>
      <% end %>
      <%= link_to("edit", edit_user_registration_path, { method: :get, data: { confirm: "Do you want to modify yout account?" } })%>
    </div>
    <div class="col-xs-12 col-md-9">
      <div class = text-right>
        <h2>Job title</h2>
          <%= current_user.description %>
        <h3>My projects</h>
        <h3>Current projects</h3>

        <ul class = "list-inline">
          <% current_user.projects.each do |project| %>
            <% if project.status == "pending" %>
              <li> <%= project.name %></li>
            <% end %>
          <% end %>
        </ul>
        <h3>Passed projects</h3>
        <ul class = "list-inline">
          <% current_user.projects.each do |project| %>
            <% if project.status == "archived" %>
              <li> <%= project.name %></li>
            <% end %>
          <% end %>
        </ul>
        <h3>Favorites tags</h3>
      </div>
    </div>
  </div>
</div>
