<div class="container">
  <div class="title-row">
    <h2>Edit project "<%= @project.name %>"</h2>
    <%= link_to "Back", projects_path, class: "btn btn-primary" %>
  </div>



  <div class="block-container">
    <div class="block-name-users">
      <div class="block-name-users-part">
        <h3>Project</h3>
        <%= simple_form_for(@project) do |f| %>
          <div class="form-inlign">
            <p>Name </p>
            <%= f.input :name, label: false, id:"width-min-form" %>
            <p>Status </p>
            <%= f.input :status, collection: ["favorite", "pending", "archived"], label: false, id:"width-min-form" %>
            <p><%= f.button :submit, "Modify", class: "btn btn-primary" %></p>
          </div>
        <% end %>
      </div>

      <div class="block-name-users-part">
        <div class="title-row">
          <h3>Team</h3>
          <%= simple_form_for [@project, @user_project] do |f| %>
            <div class="form-inlign">
              <p><%= f.input :user_id, policy_scope:"add a user", label: false, collection: User.not_in_the_project(@project).map { |user| [user.full_name, user.id] } %></p>
              <p><%= f.button :submit, "+", class: "btn btn-primary" %></p>
            </div>
          <% end %>
        </div>
        <div class="row">
          <% @project.user_projects.each do |user_project| %>
            <div class="col-xs-12 col-sm-6">
              <div class="project-card">
                <div class="card-project-element">
                  <div class="card-project-photo-avatar">
                    <%= image_tag user_project.user.picture, class: "avatar-small" %>
                  </div>
                  <div class="card-project-name">
                    <h3><%= user_project.user.first_name %> <%= user_project.user.last_name %></h3>
                    <p><em><%= user_project.user.description %></em></p>
                  </div>
                  <div class="card-project-delete">
                    <%=link_to user_project_path(user_project), method: :delete, data: { confirm: "Are you sure?" } do %>
                      <%= image_tag "trash-simple.svg" %>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>

    <div class="block-edit">
      <div class="block-edit-part">
        <h3>Client</h3>
        <%= simple_form_for(@project) do |f| %>
          <div>
            <p><%= f.input :client_first_name, label: "First name" %></p>
            <p><%= f.input :client_last_name, label: "Last name" %></p>
            <p><%= f.input :client_email, label: "Email" %></p>
            <p><%= f.button :submit, "Modify", class: "btn btn-primary" %></p>
          </div>
        <% end %>
      </div>
      <div class="block-edit-part center-button">
        <%= link_to "Delete project", project_path(@project), method: :delete, data: { confirm: "Do you really want to delete the project?" }, class: "btn btn-danger btn-enlarge" %>
      </div>
    </div>
  </div>
</div>
<%= render 'shared/footer' %>
