<div class="container">
  <div class="project-nav">
    <div class="row">
      <div class="project-groups">
        <div>
          <p>Recent | </p>
          <p>Favorites | </p>
          <p>All</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="project-groups">
        <div>
          <%= form_for(@project) do |f| %>
            <p><%= f.text_field :name , placeholder: "New project" %></p>
            <p><%= f.submit "+" %></p>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <% @projects.each do |project| %>
    <div class="col-xs-12 col-sm-6">
      <div class="project-card">
        <div class="row">
          <div class="card-project-element">
            <div class="card-project-photo">
              <%=link_to project_path(project) do %>
                <%= image_tag "image3.jpg", id: "photo-project" %>
              <% end %>
            </div>
            <div class="card-project-name">
              <h3><%= project.name %></h3>
              <p>Last update: <%= project.date %></p>
              <div>
                <p>Shared with</p>
                <% project.users.each do |user| %>
                  <%= image_tag "#{user.avatar}", id: "avatar-extra-small" %>
                <% end %>
              </div>
              <p><%= link_to "Edit", edit_project_path(project) %></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
